{
    "$schema": "vscode://schemas/color-theme",
    "name": "Base24 {{scheme-name}}",
    "type": "{{scheme-variant}}",
    "colors": {
        "terminal.background": "#{{base00-hex}}",
        "terminal.foreground": "#{{base05-hex}}",
        "terminal.ansiBrightBlack": "#{{base02-hex}}",
        "terminal.ansiBrightRed": "#{{base12-hex}}",
        "terminal.ansiBrightGreen": "#{{base14-hex}}",
        "terminal.ansiBrightYellow": "#{{base13-hex}}",
        "terminal.ansiBrightBlue": "#{{base16-hex}}",
        "terminal.ansiBrightMagenta": "#{{base17-hex}}",
        "terminal.ansiBrightCyan": "#{{base15-hex}}",
        "terminal.ansiBrightWhite": "#{{base07-hex}}",
        "terminal.ansiBlack": "#{{base01-hex}}",
        "terminal.ansiRed": "#{{base08-hex}}",
        "terminal.ansiGreen": "#{{base0B-hex}}",
        "terminal.ansiYellow": "#{{base09-hex}}",
        "terminal.ansiBlue": "#{{base0D-hex}}",
        "terminal.ansiMagenta": "#{{base0E-hex}}",
        "terminal.ansiCyan": "#{{base0C-hex}}",
        "terminal.ansiWhite": "#{{base06-hex}}",
        "terminal.border": "#{{base05-hex}}",
        "terminal.selectionBackground": "#{{base01-hex}}50",
        "textBlockQuote.background": "#{{base10-hex}}",
        "contrastBorder": "#{{base11-hex}}",
        "focusBorder": "#{{base03-hex}}",
        "foreground": "#{{base05-hex}}",
        "widget.shadow": "#444444",
        "selection.background": "#{{base0D-hex}}",
        "errorForeground": "#{{base08-hex}}",
        "button.background": "#{{base10-hex}}",
        "button.foreground": "#{{base05-hex}}",
        "dropdown.background": "#{{base00-hex}}",
        "dropdown.border": "#{{base11-hex}}",
        "dropdown.foreground": "#{{base05-hex}}",
        "input.background": "#{{base00-hex}}",
        "input.foreground": "#{{base05-hex}}",
        "input.border": "#{{base11-hex}}",
        "input.placeholderForeground": "#{{base03-hex}}",
        "inputOption.activeBorder": "#{{base0D-hex}}",
        "inputValidation.infoForeground": "#{{base0D-hex}}",
        "inputValidation.infoBackground": "#{{base00-hex}}",
        "inputValidation.infoBorder": "#{{base0D-hex}}",
        "inputValidation.warningForeground": "#{{base09-hex}}",
        "inputValidation.warningBackground": "#{{base00-hex}}",
        "inputValidation.warningBorder": "#{{base09-hex}}",
        "inputValidation.errorForeground": "#{{base08-hex}}",
        "inputValidation.errorBackground": "#{{base00-hex}}",
        "inputValidation.errorBorder": "#{{base08-hex}}",
        "scrollbar.shadow": "#444444",
        "badge.foreground": "#{{base05-hex}}",
        "badge.background": "#{{base01-hex}}",
        "progressBar.background": "#{{base0E-hex}}",
        "list.activeSelectionBackground": "#{{base01-hex}}",
        "list.activeSelectionForeground": "#{{base05-hex}}",
        "list.dropBackground": "#{{base01-hex}}",
        "list.focusBackground": "#{{base02-hex}}75",
        "list.highlightForeground": "#{{base0C-hex}}",
        "list.hoverBackground": "#{{base02-hex}}75",
        "list.inactiveSelectionBackground": "#{{base02-hex}}75",
        "list.warningForeground": "#{{base09-hex}}",
        "list.errorForeground": "#{{base08-hex}}",
        "activityBar.background": "#{{base00-hex}}",
        "activityBar.inactiveForeground": "#{{base03-hex}}",
        "activityBar.foreground": "#{{base05-hex}}",
        "activityBar.activeBorder": "#{{base0E-hex}}80",
        "activityBar.activeBackground": "#{{base0D-hex}}10",
        "activityBarBadge.background": "#{{base0E-hex}}",
        "activityBarBadge.foreground": "#{{base00-hex}}",
        "sideBar.background": "#{{base10-hex}}",
        "sideBarTitle.foreground": "#{{base05-hex}}",
        "sideBarSectionHeader.background": "#{{base00-hex}}",
        "sideBarSectionHeader.border": "#{{base11-hex}}",
        "editorGroup.border": "#{{base0D-hex}}",
        "editorGroup.dropBackground": "#{{base02-hex}}70",
        "editorGroupHeader.tabsBackground": "#{{base11-hex}}",
        "tab.activeBackground": "#{{base00-hex}}",
        "tab.activeForeground": "#{{base05-hex}}",
        "tab.border": "#{{base11-hex}}",
        "tab.activeBorderTop": "#{{base0E-hex}}80",
        "tab.inactiveBackground": "#{{base10-hex}}",
        "tab.inactiveForeground": "#{{base03-hex}}",
        "editor.foreground": "#{{base05-hex}}",
        "editor.background": "#{{base00-hex}}",
        "editorLineNumber.foreground": "#{{base03-hex}}",
        "editor.selectionBackground": "#{{base01-hex}}",
        "editor.selectionHighlightBackground": "#{{base01-hex}}",
        "editor.foldBackground": "#{{base10-hex}}",
        "editor.wordHighlightBackground": "#{{base0C-hex}}50",
        "editor.wordHighlightStrongBackground": "#{{base0B-hex}}50",
        "editor.findMatchBackground": "#{{base09-hex}}80",
        "editor.findMatchHighlightBackground": "#{{base07-hex}}40",
        "editor.findRangeHighlightBackground": "#{{base02-hex}}75",
        "editor.hoverHighlightBackground": "#{{base11-hex}}",
        "editor.lineHighlightBorder": "#{{base01-hex}}",
        "editorLink.activeForeground": "#{{base0C-hex}}",
        "editor.rangeHighlightBackground": "#{{base0D-hex}}15",
        "editor.snippetTabstopHighlightBackground": "#{{base00-hex}}",
        "editor.snippetTabstopHighlightBorder": "#{{base03-hex}}",
        "editor.snippetFinalTabstopHighlightBackground": "#{{base00-hex}}",
        "editor.snippetFinalTabstopHighlightBorder": "#{{base0B-hex}}",
        "editorWhitespace.foreground": "#{{base07-hex}}1A",
        "editorIndentGuide.background": "#{{base07-hex}}1A",
        "editorIndentGuide.activeBackground": "#{{base07-hex}}45",
        "editorRuler.foreground": "#{{base07-hex}}1A",
        "editorCodeLens.foreground": "#{{base03-hex}}",
        "editorOverviewRuler.border": "#{{base11-hex}}",
        "editorOverviewRuler.selectionHighlightForeground": "#{{base09-hex}}",
        "editorOverviewRuler.wordHighlightForeground": "#{{base0C-hex}}",
        "editorOverviewRuler.wordHighlightStrongForeground": "#{{base0B-hex}}",
        "editorOverviewRuler.modifiedForeground": "#{{base0C-hex}}80",
        "editorOverviewRuler.addedForeground": "#{{base0B-hex}}80",
        "editorOverviewRuler.deletedForeground": "#{{base08-hex}}80",
        "editorOverviewRuler.errorForeground": "#{{base08-hex}}80",
        "editorOverviewRuler.warningForeground": "#{{base09-hex}}80",
        "editorOverviewRuler.infoForeground": "#{{base0C-hex}}80",
        "editorError.foreground": "#{{base08-hex}}",
        "editorWarning.foreground": "#{{base09-hex}}",
        "editorGutter.modifiedBackground": "#{{base0C-hex}}80",
        "editorGutter.addedBackground": "#{{base0B-hex}}80",
        "editorGutter.deletedBackground": "#{{base08-hex}}80",
        "gitDecoration.modifiedResourceForeground": "#{{base0C-hex}}",
        "gitDecoration.deletedResourceForeground": "#{{base08-hex}}",
        "gitDecoration.untrackedResourceForeground": "#{{base0B-hex}}",
        "gitDecoration.ignoredResourceForeground": "#{{base03-hex}}",
        "gitDecoration.conflictingResourceForeground": "#{{base09-hex}}",
        "diffEditor.insertedTextBackground": "#{{base0B-hex}}20",
        "diffEditor.removedTextBackground": "#{{base08-hex}}50",
        "editorWidget.background": "#{{base10-hex}}",
        "editorSuggestWidget.background": "#{{base10-hex}}",
        "editorSuggestWidget.foreground": "#{{base05-hex}}",
        "editorSuggestWidget.selectedBackground": "#{{base01-hex}}",
        "editorHoverWidget.background": "#{{base00-hex}}",
        "editorHoverWidget.border": "#{{base03-hex}}",
        "editorMarkerNavigation.background": "#{{base10-hex}}",
        "peekView.border": "#{{base01-hex}}",
        "peekViewEditor.background": "#{{base00-hex}}",
        "peekViewEditor.matchHighlightBackground": "#{{base13-hex}}80",
        "peekViewResult.background": "#{{base10-hex}}",
        "peekViewResult.fileForeground": "#{{base05-hex}}",
        "peekViewResult.lineForeground": "#{{base05-hex}}",
        "peekViewResult.matchHighlightBackground": "#{{base13-hex}}80",
        "peekViewResult.selectionBackground": "#{{base01-hex}}",
        "peekViewResult.selectionForeground": "#{{base05-hex}}",
        "peekViewTitle.background": "#{{base11-hex}}",
        "peekViewTitleDescription.foreground": "#{{base03-hex}}",
        "peekViewTitleLabel.foreground": "#{{base05-hex}}",
        "merge.currentHeaderBackground": "#{{base0B-hex}}90",
        "merge.incomingHeaderBackground": "#{{base0D-hex}}90",
        "editorOverviewRuler.currentContentForeground": "#{{base0B-hex}}",
        "editorOverviewRuler.incomingContentForeground": "#{{base0D-hex}}",
        "panel.background": "#{{base00-hex}}",
        "panel.border": "#{{base0D-hex}}",
        "panelInput.border": "#{{base05-hex}}",
        "panelTitle.activeBorder": "#{{base0E-hex}}",
        "panelTitle.activeForeground": "#{{base05-hex}}",
        "panelTitle.inactiveForeground": "#{{base03-hex}}",
        "statusBar.background": "#{{base11-hex}}",
        "statusBar.foreground": "#{{base05-hex}}",
        "statusBar.debuggingBackground": "#{{base08-hex}}",
        "statusBar.debuggingForeground": "#{{base11-hex}}",
        "statusBar.noFolderBackground": "#{{base11-hex}}",
        "statusBar.noFolderForeground": "#{{base05-hex}}",
        "statusBarItem.prominentBackground": "#{{base08-hex}}",
        "statusBarItem.prominentHoverBackground": "#{{base09-hex}}",
        "statusBarItem.remoteForeground": "#{{base00-hex}}",
        "statusBarItem.remoteBackground": "#{{base0D-hex}}",
        "titleBar.activeBackground": "#{{base10-hex}}",
        "titleBar.activeForeground": "#{{base05-hex}}",
        "titleBar.inactiveBackground": "#{{base11-hex}}",
        "titleBar.inactiveForeground": "#{{base03-hex}}",
        "notificationCenter.border": "#{{base10-hex}}",
        "notificationCenterHeader.foreground": "#{{base05-hex}}",
        "notificationCenterHeader.background": "#{{base00-hex}}",
        "notificationToast.border": "#{{base10-hex}}",
        "notifications.foreground": "#{{base05-hex}}",
        "notifications.background": "#{{base00-hex}}",
        "notifications.border": "#{{base10-hex}}",
        "notificationLink.foreground": "#{{base0C-hex}}",
        "notificationsErrorIcon.foreground": "#{{base08-hex}}",
        "notificationsWarningIcon.foreground": "#{{base09-hex}}",
        "notificationsInfoIcon.foreground": "#{{base0D-hex}}",
        "notification.background": "#{{base00-hex}}",
        "notification.foreground": "#{{base05-hex}}",
        "notification.buttonBackground": "#{{base01-hex}}",
        "notification.buttonForeground": "#{{base05-hex}}",
        "notification.buttonHoverBackground": "#{{base02-hex}}75",
        "notification.errorBackground": "#{{base08-hex}}",
        "notification.errorForeground": "#{{base00-hex}}",
        "notification.infoBackground": "#{{base0D-hex}}",
        "notification.infoForeground": "#{{base00-hex}}",
        "notification.warningBackground": "#{{base09-hex}}",
        "notification.warningForeground": "#{{base00-hex}}",
        "extensionButton.prominentForeground": "#{{base05-hex}}",
        "extensionButton.prominentBackground": "#{{base0B-hex}}90",
        "extensionButton.prominentHoverBackground": "#{{base0B-hex}}60",
        "pickerGroup.border": "#{{base0D-hex}}",
        "pickerGroup.foreground": "#{{base0C-hex}}",
        "debugToolBar.background": "#{{base10-hex}}",
        "welcomePage.buttonBackground": "#{{base01-hex}}",
        "welcomePage.buttonHoverBackground": "#{{base02-hex}}75",
        "walkThrough.embeddedEditorBackground": "#{{base10-hex}}",
        "settings.headerForeground": "#{{base05-hex}}",
        "settings.modifiedItemIndicator": "#{{base09-hex}}",
        "settings.dropdownBackground": "#{{base10-hex}}",
        "settings.dropdownForeground": "#{{base05-hex}}",
        "settings.dropdownBorder": "#{{base11-hex}}",
        "settings.checkboxBackground": "#{{base10-hex}}",
        "settings.checkboxForeground": "#{{base05-hex}}",
        "settings.checkboxBorder": "#{{base11-hex}}",
        "checkbox.background": "#{{base10-hex}}",
        "checkbox.foreground": "#{{base05-hex}}",
        "checkbox.border": "#{{base11-hex}}",
        "settings.textInputBackground": "#{{base10-hex}}",
        "settings.textInputForeground": "#{{base05-hex}}",
        "settings.textInputBorder": "#{{base11-hex}}",
        "settings.numberInputBackground": "#{{base10-hex}}",
        "settings.numberInputForeground": "#{{base05-hex}}",
        "settings.numberInputBorder": "#{{base11-hex}}",
        "breadcrumb.foreground": "#{{base03-hex}}",
        "breadcrumb.background": "#{{base00-hex}}",
        "breadcrumb.focusForeground": "#{{base05-hex}}",
        "breadcrumb.activeSelectionForeground": "#{{base05-hex}}",
        "breadcrumbPicker.background": "#{{base11-hex}}",
        "listFilterWidget.background": "#{{base00-hex}}",
        "listFilterWidget.outline": "#{{base01-hex}}",
        "listFilterWidget.noMatchesOutline": "#{{base08-hex}}"
    },
    "tokenColors": [
        {
            "scope": [
                "emphasis"
            ],
            "settings": {
                "fontStyle": "italic"
            }
        },
        {
            "scope": [
                "strong"
            ],
            "settings": {
                "fontStyle": "bold"
            }
        },
        {
            "scope": [
                "header"
            ],
            "settings": {
                "foreground": "#{{base0D-hex}}"
            }
        },
        {
            "scope": [
                "source"
            ],
            "settings": {
                "foreground": "#{{base05-hex}}"
            }
        },
        {
            "scope": [
                "meta.diff",
                "meta.diff.header"
            ],
            "settings": {
                "foreground": "#{{base03-hex}}"
            }
        },
        {
            "scope": [
                "markup.inserted"
            ],
            "settings": {
                "foreground": "#{{base0B-hex}}"
            }
        },
        {
            "scope": [
                "markup.deleted"
            ],
            "settings": {
                "foreground": "#{{base08-hex}}"
            }
        },
        {
            "scope": [
                "markup.changed"
            ],
            "settings": {
                "foreground": "#{{base09-hex}}"
            }
        },
        {
            "scope": [
                "invalid"
            ],
            "settings": {
                "foreground": "#{{base08-hex}}",
                "fontStyle": "underline italic"
            }
        },
        {
            "scope": [
                "invalid.deprecated"
            ],
            "settings": {
                "foreground": "#{{base05-hex}}",
                "fontStyle": "underline italic"
            }
        },
        {
            "scope": [
                "entity.name.filename"
            ],
            "settings": {
                "foreground": "#{{base13-hex}}"
            }
        },
        {
            "scope": [
                "markup.error"
            ],
            "settings": {
                "foreground": "#{{base08-hex}}"
            }
        },
        {
            "name": "Underlined markup",
            "scope": [
                "markup.underline"
            ],
            "settings": {
                "fontStyle": "underline"
            }
        },
        {
            "name": "Bold markup",
            "scope": [
                "markup.bold"
            ],
            "settings": {
                "fontStyle": "bold",
                "foreground": "#{{base09-hex}}"
            }
        },
        {
            "name": "Markup headings",
            "scope": [
                "markup.heading"
            ],
            "settings": {
                "fontStyle": "bold",
                "foreground": "#{{base0D-hex}}"
            }
        },
        {
            "name": "Markup italic",
            "scope": [
                "markup.italic"
            ],
            "settings": {
                "foreground": "#{{base13-hex}}",
                "fontStyle": "italic"
            }
        },
        {
            "name": "Bullets, lists (prose)",
            "scope": [
                "beginning.punctuation.definition.list.markdown",
                "beginning.punctuation.definition.quote.markdown",
                "punctuation.definition.link.restructuredtext"
            ],
            "settings": {
                "foreground": "#{{base0C-hex}}"
            }
        },
        {
            "name": "Inline code (prose)",
            "scope": [
                "markup.inline.raw",
                "markup.raw.restructuredtext"
            ],
            "settings": {
                "foreground": "#{{base0B-hex}}"
            }
        },
        {
            "name": "Links (prose)",
            "scope": [
                "markup.underline.link",
                "markup.underline.link.image"
            ],
            "settings": {
                "foreground": "#{{base0C-hex}}"
            }
        },
        {
            "name": "Link text, image alt text (prose)",
            "scope": [
                "meta.link.reference.def.restructuredtext",
                "punctuation.definition.directive.restructuredtext",
                "string.other.link.description",
                "string.other.link.title"
            ],
            "settings": {
                "foreground": "#{{base0E-hex}}"
            }
        },
        {
            "name": "Blockquotes (prose)",
            "scope": [
                "entity.name.directive.restructuredtext",
                "markup.quote"
            ],
            "settings": {
                "foreground": "#{{base13-hex}}",
                "fontStyle": "italic"
            }
        },
        {
            "name": "Horizontal rule (prose)",
            "scope": [
                "meta.separator.markdown"
            ],
            "settings": {
                "foreground": "#{{base03-hex}}"
            }
        },
        {
            "name": "Code blocks",
            "scope": [
                "fenced_code.block.language",
                "markup.raw.inner.restructuredtext",
                "markup.fenced_code.block.markdown punctuation.definition.markdown"
            ],
            "settings": {
                "foreground": "#{{base0B-hex}}"
            }
        },
        {
            "name": "Prose constants",
            "scope": [
                "punctuation.definition.constant.restructuredtext"
            ],
            "settings": {
                "foreground": "#{{base0D-hex}}"
            }
        },
        {
            "name": "Braces in markdown headings",
            "scope": [
                "markup.heading.markdown punctuation.definition.string.begin",
                "markup.heading.markdown punctuation.definition.string.end"
            ],
            "settings": {
                "foreground": "#{{base0D-hex}}"
            }
        },
        {
            "name": "Braces in markdown paragraphs",
            "scope": [
                "meta.paragraph.markdown punctuation.definition.string.begin",
                "meta.paragraph.markdown punctuation.definition.string.end"
            ],
            "settings": {
                "foreground": "#{{base05-hex}}"
            }
        },
        {
            "name": "Braces in markdown blockquotes",
            "scope": [
                "markup.quote.markdown meta.paragraph.markdown punctuation.definition.string.begin",
                "markup.quote.markdown meta.paragraph.markdown punctuation.definition.string.end"
            ],
            "settings": {
                "foreground": "#{{base13-hex}}"
            }
        },
        {
            "name": "User-defined class names",
            "scope": [
                "entity.name.type.class",
                "entity.name.class"
            ],
            "settings": {
                "foreground": "#{{base0C-hex}}",
                "fontStyle": "normal"
            }
        },
        {
            "name": "this, super, self, etc.",
            "scope": [
                "keyword.expressions-and-types.swift",
                "keyword.other.this",
                "variable.language",
                "variable.language punctuation.definition.variable.php",
                "variable.other.readwrite.instance.ruby",
                "variable.parameter.function.language.special"
            ],
            "settings": {
                "foreground": "#{{base0D-hex}}",
                "fontStyle": "italic"
            }
        },
        {
            "name": "Inherited classes",
            "scope": [
                "entity.other.inherited-class"
            ],
            "settings": {
                "fontStyle": "italic",
                "foreground": "#{{base0C-hex}}"
            }
        },
        {
            "name": "Comments",
            "scope": [
                "comment",
                "punctuation.definition.comment",
                "unused.comment",
                "wildcard.comment"
            ],
            "settings": {
                "foreground": "#{{base03-hex}}"
            }
        },
        {
            "name": "JSDoc-style keywords",
            "scope": [
                "comment keyword.codetag.notation",
                "comment.block.documentation keyword",
                "comment.block.documentation storage.type.class"
            ],
            "settings": {
                "foreground": "#{{base0E-hex}}"
            }
        },
        {
            "name": "JSDoc-style types",
            "scope": [
                "comment.block.documentation entity.name.type"
            ],
            "settings": {
                "foreground": "#{{base0C-hex}}",
                "fontStyle": "italic"
            }
        },
        {
            "name": "JSDoc-style type brackets",
            "scope": [
                "comment.block.documentation entity.name.type punctuation.definition.bracket"
            ],
            "settings": {
                "foreground": "#{{base0C-hex}}"
            }
        },
        {
            "name": "JSDoc-style comment parameters",
            "scope": [
                "comment.block.documentation variable"
            ],
            "settings": {
                "foreground": "#{{base09-hex}}",
                "fontStyle": "italic"
            }
        },
        {
            "name": "Constants",
            "scope": [
                "constant",
                "variable.other.constant"
            ],
            "settings": {
                "foreground": "#{{base0D-hex}}"
            }
        },
        {
            "name": "Constant escape sequences",
            "scope": [
                "constant.character.escape",
                "constant.character.string.escape",
                "constant.regexp"
            ],
            "settings": {
                "foreground": "#{{base0E-hex}}"
            }
        },
        {
            "name": "HTML tags",
            "scope": [
                "entity.name.tag"
            ],
            "settings": {
                "foreground": "#{{base0E-hex}}"
            }
        },
        {
            "name": "CSS attribute parent selectors ('&')",
            "scope": [
                "entity.other.attribute-name.parent-selector"
            ],
            "settings": {
                "foreground": "#{{base0E-hex}}"
            }
        },
        {
            "name": "HTML/CSS attribute names",
            "scope": [
                "entity.other.attribute-name"
            ],
            "settings": {
                "foreground": "#{{base0B-hex}}",
                "fontStyle": "italic"
            }
        },
        {
            "name": "Function names",
            "scope": [
                "entity.name.function",
                "meta.function-call.generic",
                "meta.function-call.object",
                "meta.function-call.php",
                "meta.function-call.static",
                "meta.method-call.java meta.method",
                "meta.method.groovy",
                "support.function.any-method.lua",
                "keyword.operator.function.infix"
            ],
            "settings": {
                "foreground": "#{{base0B-hex}}"
            }
        },
        {
            "name": "Function parameters",
            "scope": [
                "entity.name.variable.parameter",
                "meta.at-rule.function variable",
                "meta.at-rule.mixin variable",
                "meta.function.arguments variable.other.php",
                "meta.selectionset.graphql meta.arguments.graphql variable.arguments.graphql",
                "variable.parameter"
            ],
            "settings": {
                "fontStyle": "italic",
                "foreground": "#{{base09-hex}}"
            }
        },
        {
            "name": "Decorators",
            "scope": [
                "meta.decorator variable.other.readwrite",
                "meta.decorator variable.other.property"
            ],
            "settings": {
                "foreground": "#{{base0B-hex}}",
                "fontStyle": "italic"
            }
        },
        {
            "name": "Decorator Objects",
            "scope": [
                "meta.decorator variable.other.object"
            ],
            "settings": {
                "foreground": "#{{base0B-hex}}"
            }
        },
        {
            "name": "Keywords",
            "scope": [
                "keyword",
                "punctuation.definition.keyword"
            ],
            "settings": {
                "foreground": "#{{base0E-hex}}"
            }
        },
        {
            "name": "Keyword \"new\"",
            "scope": [
                "keyword.control.new",
                "keyword.operator.new"
            ],
            "settings": {
                "fontStyle": "bold"
            }
        },
        {
            "name": "Generic selectors (CSS/SCSS/Less/Stylus)",
            "scope": [
                "meta.selector"
            ],
            "settings": {
                "foreground": "#{{base0E-hex}}"
            }
        },
        {
            "name": "Language Built-ins",
            "scope": [
                "support"
            ],
            "settings": {
                "fontStyle": "italic",
                "foreground": "#{{base0C-hex}}"
            }
        },
        {
            "name": "Built-in magic functions and constants",
            "scope": [
                "support.function.magic",
                "support.variable",
                "variable.other.predefined"
            ],
            "settings": {
                "fontStyle": "regular",
                "foreground": "#{{base0D-hex}}"
            }
        },
        {
            "name": "Built-in functions / properties",
            "scope": [
                "support.function",
                "support.type.property-name"
            ],
            "settings": {
                "fontStyle": "regular"
            }
        },
        {
            "name": "Separators (key/value, namespace, inheritance, pointer, hash, slice, etc)",
            "scope": [
                "constant.other.symbol.hashkey punctuation.definition.constant.ruby",
                "entity.other.attribute-name.placeholder punctuation",
                "entity.other.attribute-name.pseudo-class punctuation",
                "entity.other.attribute-name.pseudo-element punctuation",
                "meta.group.double.toml",
                "meta.group.toml",
                "meta.object-binding-pattern-variable punctuation.destructuring",
                "punctuation.colon.graphql",
                "punctuation.definition.block.scalar.folded.yaml",
                "punctuation.definition.block.scalar.literal.yaml",
                "punctuation.definition.block.sequence.item.yaml",
                "punctuation.definition.entity.other.inherited-class",
                "punctuation.function.swift",
                "punctuation.separator.dictionary.key-value",
                "punctuation.separator.hash",
                "punctuation.separator.inheritance",
                "punctuation.separator.key-value",
                "punctuation.separator.key-value.mapping.yaml",
                "punctuation.separator.namespace",
                "punctuation.separator.pointer-access",
                "punctuation.separator.slice",
                "string.unquoted.heredoc punctuation.definition.string",
                "support.other.chomping-indicator.yaml",
                "punctuation.separator.annotation"
            ],
            "settings": {
                "foreground": "#{{base0E-hex}}"
            }
        },
        {
            "name": "Brackets, braces, parens, etc.",
            "scope": [
                "keyword.operator.other.powershell",
                "keyword.other.statement-separator.powershell",
                "meta.brace.round",
                "meta.function-call punctuation",
                "punctuation.definition.arguments.begin",
                "punctuation.definition.arguments.end",
                "punctuation.definition.entity.begin",
                "punctuation.definition.entity.end",
                "punctuation.definition.tag.cs",
                "punctuation.definition.type.begin",
                "punctuation.definition.type.end",
                "punctuation.section.scope.begin",
                "punctuation.section.scope.end",
                "storage.type.generic.java",
                "string.template meta.brace",
                "string.template punctuation.accessor"
            ],
            "settings": {
                "foreground": "#{{base05-hex}}"
            }
        },
        {
            "name": "Variable interpolation operators",
            "scope": [
                "meta.string-contents.quoted.double punctuation.definition.variable",
                "punctuation.definition.interpolation.begin",
                "punctuation.definition.interpolation.end",
                "punctuation.definition.template-expression.begin",
                "punctuation.definition.template-expression.end",
                "punctuation.section.embedded.begin",
                "punctuation.section.embedded.coffee",
                "punctuation.section.embedded.end",
                "punctuation.section.embedded.end source.php",
                "punctuation.section.embedded.end source.ruby",
                "punctuation.definition.variable.makefile"
            ],
            "settings": {
                "foreground": "#{{base0E-hex}}"
            }
        },
        {
            "name": "Keys (serializable languages)",
            "scope": [
                "entity.name.function.target.makefile",
                "entity.name.section.toml",
                "entity.name.tag.yaml",
                "variable.other.key.toml"
            ],
            "settings": {
                "foreground": "#{{base0C-hex}}"
            }
        },
        {
            "name": "Dates / timestamps (serializable languages)",
            "scope": [
                "constant.other.date",
                "constant.other.timestamp"
            ],
            "settings": {
                "foreground": "#{{base09-hex}}"
            }
        },
        {
            "name": "YAML aliases",
            "scope": [
                "variable.other.alias.yaml"
            ],
            "settings": {
                "fontStyle": "italic underline",
                "foreground": "#{{base0B-hex}}"
            }
        },
        {
            "name": "Storage",
            "scope": [
                "storage",
                "meta.implementation storage.type.objc",
                "meta.interface-or-protocol storage.type.objc",
                "source.groovy storage.type.def"
            ],
            "settings": {
                "fontStyle": "regular",
                "foreground": "#{{base0E-hex}}"
            }
        },
        {
            "name": "Types",
            "scope": [
                "entity.name.type",
                "keyword.primitive-datatypes.swift",
                "keyword.type.cs",
                "meta.protocol-list.objc",
                "meta.return-type.objc",
                "source.go storage.type",
                "source.groovy storage.type",
                "source.java storage.type",
                "source.powershell entity.other.attribute-name",
                "storage.class.std.rust",
                "storage.type.attribute.swift",
                "storage.type.c",
                "storage.type.core.rust",
                "storage.type.cs",
                "storage.type.groovy",
                "storage.type.objc",
                "storage.type.php",
                "storage.type.haskell",
                "storage.type.ocaml"
            ],
            "settings": {
                "fontStyle": "italic",
                "foreground": "#{{base0C-hex}}"
            }
        },
        {
            "name": "Generics, templates, and mapped type declarations",
            "scope": [
                "entity.name.type.type-parameter",
                "meta.indexer.mappedtype.declaration entity.name.type",
                "meta.type.parameters entity.name.type"
            ],
            "settings": {
                "foreground": "#{{base09-hex}}"
            }
        },
        {
            "name": "Modifiers",
            "scope": [
                "storage.modifier"
            ],
            "settings": {
                "foreground": "#{{base0E-hex}}"
            }
        },
        {
            "name": "RegExp string",
            "scope": [
                "string.regexp",
                "constant.other.character-class.set.regexp",
                "constant.character.escape.backslash.regexp"
            ],
            "settings": {
                "foreground": "#{{base13-hex}}"
            }
        },
        {
            "name": "Non-capture operators",
            "scope": [
                "punctuation.definition.group.capture.regexp"
            ],
            "settings": {
                "foreground": "#{{base0E-hex}}"
            }
        },
        {
            "name": "RegExp start and end characters",
            "scope": [
                "string.regexp punctuation.definition.string.begin",
                "string.regexp punctuation.definition.string.end"
            ],
            "settings": {
                "foreground": "#{{base08-hex}}"
            }
        },
        {
            "name": "Character group",
            "scope": [
                "punctuation.definition.character-class.regexp"
            ],
            "settings": {
                "foreground": "#{{base0C-hex}}"
            }
        },
        {
            "name": "Capture groups",
            "scope": [
                "punctuation.definition.group.regexp"
            ],
            "settings": {
                "foreground": "#{{base09-hex}}"
            }
        },
        {
            "name": "Assertion operators",
            "scope": [
                "punctuation.definition.group.assertion.regexp",
                "keyword.operator.negation.regexp"
            ],
            "settings": {
                "foreground": "#{{base08-hex}}"
            }
        },
        {
            "name": "Positive lookaheads",
            "scope": [
                "meta.assertion.look-ahead.regexp"
            ],
            "settings": {
                "foreground": "#{{base0B-hex}}"
            }
        },
        {
            "name": "Strings",
            "scope": [
                "string"
            ],
            "settings": {
                "foreground": "#{{base13-hex}}"
            }
        },
        {
            "name": "String quotes (temporary vscode fix)",
            "scope": [
                "punctuation.definition.string.begin",
                "punctuation.definition.string.end"
            ],
            "settings": {
                "foreground": "#{{base0A-hex}}"
            }
        },
        {
            "name": "Property quotes (temporary vscode fix)",
            "scope": [
                "punctuation.support.type.property-name.begin",
                "punctuation.support.type.property-name.end"
            ],
            "settings": {
                "foreground": "#{{base0D-hex}}"
            }
        },
        {
            "name": "Docstrings",
            "scope": [
                "string.quoted.docstring.multi",
                "string.quoted.docstring.multi.python punctuation.definition.string.begin",
                "string.quoted.docstring.multi.python punctuation.definition.string.end",
                "string.quoted.docstring.multi.python constant.character.escape"
            ],
            "settings": {
                "foreground": "#{{base03-hex}}"
            }
        },
        {
            "name": "Variables and object properties",
            "scope": [
                "variable",
                "constant.other.key.perl",
                "support.variable.property",
                "variable.other.constant.js",
                "variable.other.constant.ts",
                "variable.other.constant.tsx"
            ],
            "settings": {
                "foreground": "#{{base05-hex}}"
            }
        },
        {
            "name": "Destructuring / aliasing reference name (LHS)",
            "scope": [
                "meta.import variable.other.readwrite",
                "meta.object-binding-pattern-variable variable.object.property",
                "meta.variable.assignment.destructured.object.coffee variable"
            ],
            "settings": {
                "fontStyle": "italic",
                "foreground": "#{{base09-hex}}"
            }
        },
        {
            "name": "Destructuring / aliasing variable name (RHS)",
            "scope": [
                "meta.import variable.other.readwrite.alias",
                "meta.export variable.other.readwrite.alias",
                "meta.variable.assignment.destructured.object.coffee variable variable"
            ],
            "settings": {
                "fontStyle": "normal",
                "foreground": "#{{base05-hex}}"
            }
        },
        {
            "name": "GraphQL keys",
            "scope": [
                "meta.selectionset.graphql variable"
            ],
            "settings": {
                "foreground": "#{{base13-hex}}"
            }
        },
        {
            "name": "GraphQL function arguments",
            "scope": [
                "meta.selectionset.graphql meta.arguments variable"
            ],
            "settings": {
                "foreground": "#{{base05-hex}}"
            }
        },
        {
            "name": "GraphQL fragment name (definition)",
            "scope": [
                "entity.name.fragment.graphql",
                "variable.fragment.graphql"
            ],
            "settings": {
                "foreground": "#{{base0C-hex}}"
            }
        },
        {
            "name": "Edge cases (foreground color resets)",
            "scope": [
                "constant.other.symbol.hashkey.ruby",
                "keyword.operator.dereference.java",
                "keyword.operator.navigation.groovy",
                "meta.scope.for-loop.shell punctuation.definition.string.begin",
                "meta.scope.for-loop.shell punctuation.definition.string.end",
                "meta.scope.for-loop.shell string",
                "storage.modifier.import",
                "punctuation.section.embedded.begin.tsx",
                "punctuation.section.embedded.end.tsx",
                "punctuation.section.embedded.begin.jsx",
                "punctuation.section.embedded.end.jsx",
                "punctuation.separator.list.comma.css",
                "constant.language.empty-list.haskell"
            ],
            "settings": {
                "foreground": "#{{base05-hex}}"
            }
        },
        {
            "name": "Shell variables prefixed with \"$\" (edge case)",
            "scope": [
                "source.shell variable.other"
            ],
            "settings": {
                "foreground": "#{{base0D-hex}}"
            }
        },
        {
            "name": "Powershell constants mistakenly scoped to `support`, rather than `constant` (edge)",
            "scope": [
                "support.constant"
            ],
            "settings": {
                "fontStyle": "normal",
                "foreground": "#{{base0D-hex}}"
            }
        },
        {
            "name": "Makefile prerequisite names",
            "scope": [
                "meta.scope.prerequisites.makefile"
            ],
            "settings": {
                "foreground": "#{{base13-hex}}"
            }
        },
        {
            "name": "SCSS attibute selector strings",
            "scope": [
                "meta.attribute-selector.scss"
            ],
            "settings": {
                "foreground": "#{{base13-hex}}"
            }
        },
        {
            "name": "SCSS attribute selector brackets",
            "scope": [
                "punctuation.definition.attribute-selector.end.bracket.square.scss",
                "punctuation.definition.attribute-selector.begin.bracket.square.scss"
            ],
            "settings": {
                "foreground": "#{{base05-hex}}"
            }
        },
        {
            "name": "Haskell Pragmas",
            "scope": [
                "meta.preprocessor.haskell"
            ],
            "settings": {
                "foreground": "#{{base03-hex}}"
            }
        }
    ]
}
