{
  "$schema": "vscode://schemas/color-theme",
  "name": "Tinted8 {{scheme.name}}",
  "type": "{{scheme.variant}}",
  "colors": {
    "activityBar.activeBackground": "#{{ui.highlight.button.background.hex}}",
    "activityBar.dropBackground": "#ff0000",
    "activityBar.activeBorder": "#{{ui.accent.hex}}",
    "activityBar.background": "#{{ui.global.background.normal.hex}}",
    "activityBar.foreground": "#{{ui.global.foreground.normal.hex}}",
    "activityBar.inactiveForeground": "#{{palette.gray.normal.hex}}",
    "activityBarBadge.background": "#{{ui.accent.hex}}",
    "activityBarBadge.foreground": "#{{ui.highlight.button.background.hex}}",
    "badge.background": "#{{ui.accent.hex}}",
    "badge.foreground": "#{{ui.global.background.normal.hex}}",
    "charts.red": "#{{palette.red.normal.hex}}",
    "charts.blue": "#{{palette.blue.normal.hex}}",
    "charts.yellow": "#{{palette.yellow.normal.hex}}",
    "charts.orange": "#{{palette.orange.normal.hex}}",
    "charts.green": "#{{palette.green.normal.hex}}",
    "charts.purple": "#{{palette.magenta.normal.hex}}",
    "charts.foreground": "#{{palette.white.dim.hex}}",
    "charts.lines": "#{{palette.cyan.normal.hex}}",
    "breadcrumb.activeSelectionForeground": "#{{palette.white.normal.hex}}",
    "breadcrumb.background": "#{{palette.black.normal.hex}}",
    "breadcrumb.focusForeground": "#{{palette.white.normal.hex}}",
    "breadcrumb.foreground": "#{{palette.gray.dim.hex}}",
    "breadcrumbPicker.background": "#{{palette.black.dim.hex}}",
    "button.background": "#{{ui.global.background.dark.hex}}",
    "button.foreground": "#{{ui.global.foreground.normal.hex}}",
    "checkbox.background": "#{{palette.black.dim.hex}}",
    "checkbox.border": "#{{palette.black.dim.hex}}",
    "checkbox.foreground": "#{{palette.white.normal.hex}}",
    "contrastBorder": "#{{ui.border.hex}}",
    "debugConsole.errorForeground": "#{{ui.status.error.hex}}",
    "debugConsole.infoForeground": "#{{ui.status.info.hex}}",
    "debugConsole.warningForeground": "#{{ui.status.warning.hex}}",
    "debugIcon.breakpointForeground": "#{{ui.status.error.hex}}",
    "debugToolBar.background": "#{{ui.global.background.dark.hex}}",
    "diffEditor.insertedTextBackground": "#{{syntax.markup.inserted.hex}}40",
    "diffEditor.removedTextBackground": "#{{syntax.markup.deleted.hex}}40",
    "dropdown.background": "#{{ui.global.background.normal.hex}}",
    "dropdown.border": "#{{ui.border.hex}}",
    "dropdown.foreground": "#{{ui.global.foreground.normal.hex}}",
    "editor.background": "#{{ui.global.background.normal.hex}}",
    "editor.findMatchBackground": "#{{ui.highlight.search.background.hex}}",
    "editor.findMatchBorder": "#{{ui.highlight.search.background.hex}}",
    "editor.findMatchHighlightBackground": "#{{ui.highlight.search.background.hex}}",
    "editor.findMatchHighlightBorder": "#{{ui.highlight.search.background.hex}}40",
    "editor.foldBackground": "#{{ui.global.background.dark.hex}}",
    "editor.foreground": "#{{ui.global.foreground.normal.hex}}",
    "editor.hoverHighlightBackground": "#{{ui.global.background.dark.hex}}",
    "editor.inactiveSelectionBackground": "#{{ui.selection.inactive-background.hex}}",
    "editor.lineHighlightBackground": "#{{ui.highlight.line.background.hex}}",
    "editor.lineHighlightBorder": "#{{ui.highlight.line.background.hex}}",
    "editor.rangeHighlightBackground": "#{{ui.accent.hex}}",
    "editor.selectionBackground": "#{{ui.selection.background.hex}}",
    "editor.selectionHighlightBackground": "#{{ui.selection.background.hex}}",
    "editor.snippetFinalTabstopHighlightBackground": "#{{ui.global.background.normal.hex}}",
    "editor.snippetFinalTabstopHighlightBorder": "#{{ui.accent.hex}}",
    "editor.snippetTabstopHighlightBackground": "#{{ui.global.background.normal.hex}}",
    "editor.snippetTabstopHighlightBorder": "#{{ui.border.hex}}",
    "editor.wordHighlightBackground": "#{{ui.highlight.text.background.hex}}",
    "editor.wordHighlightBorder": "#{{ui.highlight.text.background.hex}}",
    "editor.wordHighlightStrongBackground": "#{{ui.highlight.text.active-background.hex}}",
    "editor.wordHighlightStrongBorder": "#{{ui.highlight.text.active-background.hex}}",
    "editorBracketHighlight.foreground1": "#{{syntax.punctuation.section.hex}}",
    "editorBracketHighlight.foreground2": "#{{syntax.punctuation.section.hex}}",
    "editorBracketHighlight.foreground3": "#{{syntax.punctuation.section.hex}}",
    "editorBracketHighlight.foreground4": "#{{syntax.punctuation.section.hex}}",
    "editorBracketHighlight.foreground5": "#{{syntax.punctuation.section.hex}}",
    "editorBracketHighlight.foreground6": "#{{syntax.punctuation.section.hex}}",
    "editorBracketHighlight.unexpectedBracket.foreground": "#{{ui.status.error.hex}}",
    "editorBracketMatch.background": "#{{ui.global.background.dark.hex}}",
    "editorBracketMatch.border": "#{{ui.accent.hex}}",
    "editorBracketPairGuide.activeBackground1": "#{{syntax.punctuation.section.hex}}40",
    "editorBracketPairGuide.activeBackground2": "#{{syntax.punctuation.section.hex}}40",
    "editorBracketPairGuide.activeBackground3": "#{{syntax.punctuation.section.hex}}40",
    "editorBracketPairGuide.activeBackground4": "#{{syntax.punctuation.section.hex}}40",
    "editorBracketPairGuide.activeBackground5": "#{{syntax.punctuation.section.hex}}40",
    "editorBracketPairGuide.activeBackground6": "#{{syntax.punctuation.section.hex}}40",
    "editorBracketPairGuide.background1": "#{{syntax.punctuation.section.hex}}20",
    "editorBracketPairGuide.background2": "#{{syntax.punctuation.section.hex}}20",
    "editorBracketPairGuide.background3": "#{{syntax.punctuation.section.hex}}20",
    "editorBracketPairGuide.background4": "#{{syntax.punctuation.section.hex}}20",
    "editorBracketPairGuide.background5": "#{{syntax.punctuation.section.hex}}20",
    "editorBracketPairGuide.background6": "#{{syntax.punctuation.section.hex}}20",
    "editorCodeLens.foreground": "#{{ui.global.foreground.dark.hex}}",
    "editorCursor.foreground": "#{{ui.cursor.hex}}",
    "editorError.foreground": "#{{ui.status.error.hex}}",
    "editorGroup.border": "#{{ui.border.hex}}",
    "editorGroup.dropBackground": "#{{ui.global.background.light.hex}}",
    "editorGroupHeader.tabsBackground": "#{{ui.global.background.dark.hex}}",
    "editorGutter.addedBackground": "#{{ui.status.success.hex}}",
    "editorGutter.background": "#{{ui.gutter.background.hex}}",
    "editorGutter.deletedBackground": "#{{ui.status.error.hex}}",
    "editorGutter.modifiedBackground": "#{{ui.status.warning.hex}}",
    "editorHoverWidget.background": "#{{ui.tooltip.background.hex}}",
    "editorHoverWidget.border": "#{{ui.border.hex}}",
    "editorHoverWidget.foreground": "#{{ui.tooltip.foreground.hex}}",
    "editorIndentGuide.activeBackground": "#{{ui.indent-guide.active-background.hex}}",
    "editorIndentGuide.background": "#{{ui.indent-guide.background.hex}}",
    "editorInfo.foreground": "#{{ui.status.info.hex}}",
    "editorLineNumber.activeForeground": "#{{ui.global.foreground.normal.hex}}",
    "editorLineNumber.foreground": "#{{ui.gutter.foreground.hex}}",
    "editorLink.activeForeground": "#{{ui.link.hex}}",
    "editorMarkerNavigation.background": "#{{ui.global.background.dark.hex}}",
    "editorOverviewRuler.addedForeground": "#{{ui.status.success.hex}}",
    "editorOverviewRuler.border": "#{{ui.border.hex}}",
    "editorOverviewRuler.currentContentForeground": "#{{palette.green.normal.hex}}",
    "editorOverviewRuler.deletedForeground": "#{{ui.status.error.hex}}",
    "editorOverviewRuler.errorForeground": "#{{ui.status.error.hex}}",
    "editorOverviewRuler.incomingContentForeground": "#{{palette.blue.normal.hex}}",
    "editorOverviewRuler.infoForeground": "#{{ui.status.info.hex}}",
    "editorOverviewRuler.modifiedForeground": "#{{ui.status.warning.hex}}",
    "editorOverviewRuler.selectionHighlightForeground": "#{{ui.highlight.text.foreground.hex}}",
    "editorOverviewRuler.warningForeground": "#{{ui.status.warning.hex}}",
    "editorOverviewRuler.wordHighlightForeground": "#{{ui.highlight.text.foreground.hex}}",
    "editorOverviewRuler.wordHighlightStrongForeground": "#{{ui.highlight.text.active-foreground.hex}}",
    "editorRuler.foreground": "#{{ui.global.background.light.hex}}",
    "editorSuggestWidget.background": "#{{ui.global.background.dark.hex}}",
    "editorSuggestWidget.foreground": "#{{ui.global.foreground.normal.hex}}",
    "editorSuggestWidget.selectedBackground": "#{{ui.global.background.light.hex}}",
    "editorWarning.foreground": "#{{ui.status.warning.hex}}",
    "editorWhitespace.foreground": "#{{ui.whitespace.foreground.hex}}",
    "editorWidget.background": "#{{ui.global.background.dark.hex}}",
    "errorForeground": "#{{ui.status.error.hex}}",
    "extensionButton.prominentForeground": "#{{palette.white.normal.hex}}",
    "extensionButton.prominentHoverBackground": "#{{palette.green.normal.hex}}",
    "focusBorder": "#{{ui.accent.hex}}",
    "foreground": "#{{ui.global.foreground.normal.hex}}",
    "gitDecoration.addedResourceForeground": "#{{ui.status.success.hex}}",
    "gitDecoration.conflictingResourceForeground": "#{{ui.status.warning.hex}}",
    "gitDecoration.deletedResourceForeground": "#{{ui.status.error.hex}}",
    "gitDecoration.ignoredResourceForeground": "#{{ui.global.foreground.dark.hex}}",
    "gitDecoration.modifiedResourceForeground": "#{{ui.status.info.hex}}",
    "gitDecoration.renamedResourceForeground": "#{{ui.status.info.hex}}",
    "gitDecoration.stageModifiedResourceForeground": "#{{ui.status.warning.hex}}",
    "gitDecoration.submoduleResourceForeground": "#{{palette.cyan.normal.hex}}",
    "gitDecoration.untrackedResourceForeground": "#{{palette.green.normal.hex}}",
    "input.background": "#{{ui.global.background.normal.hex}}",
    "input.border": "#{{ui.border.hex}}",
    "input.foreground": "#{{ui.global.foreground.normal.hex}}",
    "input.placeholderForeground": "#{{ui.global.foreground.dark.hex}}",
    "inputOption.activeBorder": "#{{ui.accent.hex}}",
    "inputValidation.errorBackground": "#{{ui.global.background.normal.hex}}",
    "inputValidation.errorBorder": "#{{ui.border.hex}}",
    "inputValidation.errorForeground": "#{{ui.status.error.hex}}",
    "inputValidation.infoBackground": "#{{ui.global.background.normal.hex}}",
    "inputValidation.infoBorder": "#{{ui.border.hex}}",
    "inputValidation.infoForeground": "#{{ui.status.info.hex}}",
    "inputValidation.warningBackground": "#{{ui.global.background.normal.hex}}",
    "inputValidation.warningBorder": "#{{ui.border.hex}}",
    "inputValidation.warningForeground": "#{{ui.status.warning.hex}}",
    "list.activeSelectionBackground": "#{{ui.selection.background.hex}}",
    "list.activeSelectionForeground": "#{{ui.selection.foreground.hex}}",
    "list.dropBackground": "#{{ui.global.background.dark.hex}}",
    "list.errorForeground": "#{{ui.status.error.hex}}",
    "list.focusBackground": "#{{ui.global.background.light.hex}}",
    "list.highlightForeground": "#{{ui.highlight.search.foreground.hex}}",
    "list.hoverBackground": "#{{ui.global.background.light.hex}}",
    "list.inactiveSelectionBackground": "#{{ui.global.background.light.hex}}",
    "list.warningForeground": "#{{ui.status.warning.hex}}",
    "listFilterWidget.background": "#{{palette.black.normal.hex}}",
    "listFilterWidget.noMatchesOutline": "#{{ui.status.error.hex}}",
    "listFilterWidget.outline": "#{{palette.black.bright.hex}}",
    "merge.currentHeaderBackground": "#{{palette.green.normal.hex}}",
    "merge.incomingHeaderBackground": "#{{palette.blue.normal.hex}}",
    "minimap.background": "#{{ui.global.background.normal.hex}}",
    "minimap.findMatchHighlight": "#{{ui.highlight.search.background.hex}}",
    "minimap.selectionHighlight": "#{{ui.selection.background.hex}}",
    "minimapGutter.addedBackground": "#{{ui.status.success.hex}}",
    "minimapGutter.deletedBackground": "#{{ui.status.error.hex}}",
    "minimapGutter.modifiedBackground": "#{{ui.status.warning.hex}}",
    "notification.background": "#{{ui.global.background.normal.hex}}",
    "notification.buttonBackground": "#{{ui.global.background.light.hex}}",
    "notification.buttonForeground": "#{{ui.global.foreground.normal.hex}}",
    "notification.buttonHoverBackground": "#{{ui.global.background.light.hex}}",
    "notification.errorBackground": "#{{ui.status.error.hex}}",
    "notification.errorForeground": "#{{ui.global.background.normal.hex}}",
    "notification.foreground": "#{{ui.global.foreground.normal.hex}}",
    "notification.infoBackground": "#{{ui.status.info.hex}}",
    "notification.infoForeground": "#{{ui.global.background.normal.hex}}",
    "notification.warningBackground": "#{{ui.status.warning.hex}}",
    "notification.warningForeground": "#{{ui.global.background.normal.hex}}",
    "notificationCenter.border": "#{{ui.border.hex}}",
    "notificationCenterHeader.background": "#{{ui.global.background.normal.hex}}",
    "notificationCenterHeader.foreground": "#{{ui.global.foreground.normal.hex}}",
    "notificationLink.foreground": "#{{ui.link.hex}}",
    "notificationToast.border": "#{{ui.border.hex}}",
    "notifications.background": "#{{ui.global.background.normal.hex}}",
    "notifications.border": "#{{ui.border.hex}}",
    "notifications.foreground": "#{{ui.global.foreground.normal.hex}}",
    "notificationsErrorIcon.foreground": "#{{ui.status.error.hex}}",
    "notificationsInfoIcon.foreground": "#{{ui.status.info.hex}}",
    "notificationsWarningIcon.foreground": "#{{ui.status.warning.hex}}",
    "panel.background": "#{{ui.global.background.normal.hex}}",
    "panel.border": "#{{ui.border.hex}}",
    "panelInput.border": "#{{ui.border.hex}}",
    "panelTitle.activeBorder": "#{{ui.accent.hex}}",
    "panelTitle.activeForeground": "#{{ui.global.foreground.normal.hex}}",
    "panelTitle.inactiveForeground": "#{{ui.global.foreground.dark.hex}}",
    "peekView.border": "#{{ui.border.hex}}",
    "peekViewEditor.background": "#{{ui.global.background.normal.hex}}",
    "peekViewEditor.matchHighlightBackground": "#{{ui.highlight.search.background.hex}}",
    "peekViewResult.background": "#{{ui.global.background.dark.hex}}",
    "peekViewResult.fileForeground": "#{{ui.global.foreground.normal.hex}}",
    "peekViewResult.lineForeground": "#{{ui.global.foreground.normal.hex}}",
    "peekViewResult.matchHighlightBackground": "#{{ui.highlight.search.background.hex}}",
    "peekViewResult.selectionBackground": "#{{ui.global.background.light.hex}}",
    "peekViewResult.selectionForeground": "#{{ui.global.foreground.normal.hex}}",
    "peekViewTitle.background": "#{{ui.global.background.dark.hex}}",
    "peekViewTitleDescription.foreground": "#{{ui.global.foreground.dark.hex}}",
    "peekViewTitleLabel.foreground": "#{{ui.global.foreground.normal.hex}}",
    "pickerGroup.border": "#{{ui.border.hex}}",
    "pickerGroup.foreground": "#{{ui.link.hex}}",
    "progressBar.background": "#{{ui.accent.hex}}",
    "quickInput.background": "#{{ui.global.background.dark.hex}}",
    "quickInput.foreground": "#{{ui.global.foreground.normal.hex}}",
    "quickInputList.focusBackground": "#{{ui.global.background.light.hex}}",
    "scrollbar.shadow": "#{{palette.black.bright.hex}}",
    "scrollbarSlider.activeBackground": "#{{ui.global.foreground.dark.hex}}80",
    "scrollbarSlider.background": "#{{ui.global.foreground.dark.hex}}40",
    "scrollbarSlider.hoverBackground": "#{{ui.global.foreground.dark.hex}}60",
    "selection.background": "#{{ui.selection.background.hex}}",
    "settings.checkboxBackground": "#{{ui.global.background.dark.hex}}",
    "settings.checkboxBorder": "#{{ui.border.hex}}",
    "settings.checkboxForeground": "#{{ui.global.foreground.normal.hex}}",
    "settings.dropdownBackground": "#{{ui.global.background.dark.hex}}",
    "settings.dropdownBorder": "#{{ui.border.hex}}",
    "settings.dropdownForeground": "#{{ui.global.foreground.normal.hex}}",
    "settings.headerForeground": "#{{ui.global.foreground.normal.hex}}",
    "settings.modifiedItemIndicator": "#{{ui.status.warning.hex}}",
    "settings.numberInputBackground": "#{{palette.black.dim.hex}}",
    "settings.numberInputBorder": "#{{palette.black.dim.hex}}",
    "settings.numberInputForeground": "#{{palette.white.normal.hex}}",
    "settings.textInputBackground": "#{{palette.black.dim.hex}}",
    "settings.textInputBorder": "#{{palette.black.dim.hex}}",
    "settings.textInputForeground": "#{{palette.white.normal.hex}}",
    "sideBar.background": "#{{ui.global.background.normal.hex}}",
    "sideBar.border": "#{{ui.border.hex}}",
    "sideBar.foreground": "#{{ui.global.foreground.normal.hex}}",
    "sideBarSectionHeader.background": "#{{ui.global.background.normal.hex}}",
    "sideBarSectionHeader.border": "#{{ui.border.hex}}",
    "sideBarTitle.foreground": "#{{ui.global.foreground.normal.hex}}",
    "statusBar.background": "#{{ui.global.background.dark.hex}}",
    "statusBar.debuggingForeground": "#{{ui.global.background.dark.hex}}",
    "statusBar.foreground": "#{{ui.global.foreground.normal.hex}}",
    "statusBar.noFolderBackground": "#{{ui.global.background.dark.hex}}",
    "statusBar.noFolderForeground": "#{{ui.global.foreground.normal.hex}}",
    "statusBarItem.prominentBackground": "#{{ui.status.error.hex}}",
    "statusBarItem.prominentHoverBackground": "#{{ui.status.warning.hex}}",
    "statusBarItem.remoteBackground": "#{{ui.accent.hex}}",
    "statusBarItem.remoteForeground": "#{{ui.global.background.normal.hex}}",
    "tab.activeBackground": "#{{ui.global.background.light.hex}}",
    "tab.activeBorderTop": "#{{ui.accent.hex}}80",
    "tab.activeForeground": "#{{ui.global.foreground.light.hex}}",
    "tab.border": "#{{ui.border.hex}}",
    "tab.inactiveBackground": "#{{ui.global.background.dark.hex}}",
    "tab.inactiveForeground": "#{{ui.global.foreground.dark.hex}}",
    "terminal.ansiBlack": "#{{palette.black.normal.hex}}",
    "terminal.ansiBlue": "#{{palette.blue.normal.hex}}",
    "terminal.ansiBrightBlack": "#{{palette.black.bright.hex}}",
    "terminal.ansiBrightBlue": "#{{palette.blue.bright.hex}}",
    "terminal.ansiBrightCyan": "#{{palette.cyan.bright.hex}}",
    "terminal.ansiBrightGreen": "#{{palette.green.bright.hex}}",
    "terminal.ansiBrightMagenta": "#{{palette.magenta.bright.hex}}",
    "terminal.ansiBrightRed": "#{{palette.red.bright.hex}}",
    "terminal.ansiBrightWhite": "#{{palette.white.bright.hex}}",
    "terminal.ansiBrightYellow": "#{{palette.yellow.bright.hex}}",
    "terminal.ansiCyan": "#{{palette.cyan.normal.hex}}",
    "terminal.ansiGreen": "#{{palette.green.normal.hex}}",
    "terminal.ansiMagenta": "#{{palette.magenta.normal.hex}}",
    "terminal.ansiRed": "#{{palette.red.normal.hex}}",
    "terminal.ansiWhite": "#{{palette.white.normal.hex}}",
    "terminal.ansiYellow": "#{{palette.yellow.normal.hex}}",
    "terminal.background": "#{{ui.global.background.normal.hex}}",
    "terminal.border": "#{{ui.border.hex}}",
    "terminal.foreground": "#{{ui.global.foreground.normal.hex}}",
    "terminal.selectionBackground": "#{{ui.selection.background.hex}}",
    "terminalCursor.background": "#{{ui.global.background.normal.hex}}",
    "terminalCursor.foreground": "#{{ui.cursor.hex}}",
    "textBlockQuote.background": "#{{ui.global.background.dark.hex}}",
    "textLink.foreground": "#{{ui.link.hex}}",
    "titleBar.activeBackground": "#{{ui.global.background.dark.hex}}",
    "titleBar.activeForeground": "#{{ui.global.foreground.normal.hex}}",
    "titleBar.inactiveBackground": "#{{ui.global.background.dark.hex}}",
    "titleBar.inactiveForeground": "#{{ui.global.foreground.dark.hex}}",
    "walkThrough.embeddedEditorBackground": "#{{ui.global.background.dark.hex}}",
    "welcomePage.buttonBackground": "#{{ui.global.background.light.hex}}",
    "welcomePage.buttonHoverBackground": "#{{ui.global.background.light.hex}}",
    "widget.shadow": "#{{ui.border.hex}}"
  },
  "tokenColors": [
    {
      "name": "Comment",
      "scope": ["comment"],
      "settings": {
        "foreground": "#{{syntax.comment.default.hex}}"
      }
    },
    {
      "name": "Line Comment",
      "scope": ["comment.line"],
      "settings": {
        "foreground": "#{{syntax.comment.line.hex}}"
      }
    },
    {
      "name": "Block Comment",
      "scope": ["comment.block"],
      "settings": {
        "foreground": "#{{syntax.comment.block.hex}}"
      }
    },
    {
      "name": "Documentation Comment",
      "scope": ["comment.block.documentation"],
      "settings": {
        "foreground": "#{{syntax.comment.documentation.hex}}"
      }
    },
    {
      "name": "Invalid",
      "scope": ["invalid"],
      "settings": {
        "foreground": "#{{syntax.invalid.default.hex}}"
      }
    },
    {
      "name": "Invalid Deprecated",
      "scope": ["invalid.deprecated"],
      "settings": {
        "foreground": "#{{syntax.invalid.deprecated.hex}}"
      }
    },
    {
      "name": "Invalid Illegal",
      "scope": ["invalid.illegal"],
      "settings": {
        "foreground": "#{{syntax.invalid.illegal.hex}}"
      }
    },
    {
      "name": "String",
      "scope": ["string"],
      "settings": {
        "foreground": "#{{syntax.string.default.hex}}"
      }
    },
    {
      "name": "String Quoted",
      "scope": ["string.quoted"],
      "settings": {
        "foreground": "#{{syntax.string.quoted.default.hex}}"
      }
    },
    {
      "name": "String Quoted Single",
      "scope": ["string.quoted.single"],
      "settings": {
        "foreground": "#{{syntax.string.quoted.single.hex}}"
      }
    },
    {
      "name": "String Quoted Double",
      "scope": ["string.quoted.double"],
      "settings": {
        "foreground": "#{{syntax.string.quoted.double.hex}}"
      }
    },
    {
      "name": "String Regexp",
      "scope": ["string.regexp"],
      "settings": {
        "foreground": "#{{syntax.string.regexp.hex}}"
      }
    },
    {
      "name": "String Template",
      "scope": ["string.template"],
      "settings": {
        "foreground": "#{{syntax.string.template.hex}}"
      }
    },
    {
      "name": "String Interpolated",
      "scope": ["string.interpolated", "meta.template.expression", "punctuation.definition.template-expression"],
      "settings": {
        "foreground": "#{{syntax.string.interpolated.hex}}"
      }
    },
    {
      "name": "String Unquoted",
      "scope": ["string.unquoted"],
      "settings": {
        "foreground": "#{{syntax.string.unquoted.hex}}"
      }
    },
    {
      "name": "String Other",
      "scope": ["string.other"],
      "settings": {
        "foreground": "#{{syntax.string.other.hex}}"
      }
    },
    {
      "name": "Constant",
      "scope": ["constant"],
      "settings": {
        "foreground": "#{{syntax.constant.default.hex}}"
      }
    },
    {
      "name": "Constant Numeric",
      "scope": ["constant.numeric"],
      "settings": {
        "foreground": "#{{syntax.constant.numeric.default.hex}}"
      }
    },
    {
      "name": "Constant Numeric Integer",
      "scope": ["constant.numeric.integer"],
      "settings": {
        "foreground": "#{{syntax.constant.numeric.integer.hex}}"
      }
    },
    {
      "name": "Constant Numeric Float",
      "scope": ["constant.numeric.float"],
      "settings": {
        "foreground": "#{{syntax.constant.numeric.float.hex}}"
      }
    },
    {
      "name": "Constant Numeric Hex",
      "scope": ["constant.numeric.hex"],
      "settings": {
        "foreground": "#{{syntax.constant.numeric.hex.hex}}"
      }
    },
    {
      "name": "Constant Language",
      "scope": ["constant.language"],
      "settings": {
        "foreground": "#{{syntax.constant.language.hex}}"
      }
    },
    {
      "name": "Constant Character",
      "scope": ["constant.character"],
      "settings": {
        "foreground": "#{{syntax.constant.character.default.hex}}"
      }
    },
    {
      "name": "Constant Character Escape",
      "scope": ["constant.character.escape"],
      "settings": {
        "foreground": "#{{syntax.constant.character.escape.hex}}"
      }
    },
    {
      "name": "Constant Character Entity",
      "scope": ["constant.character.entity"],
      "settings": {
        "foreground": "#{{syntax.constant.character.entity.hex}}"
      }
    },
    {
      "name": "Constant Other",
      "scope": ["constant.other"],
      "settings": {
        "foreground": "#{{syntax.constant.other.hex}}"
      }
    },
    {
      "name": "Entity",
      "scope": ["entity"],
      "settings": {
        "foreground": "#{{syntax.entity.default.hex}}"
      }
    },
    {
      "name": "Entity Name",
      "scope": ["entity.name"],
      "settings": {
        "foreground": "#{{syntax.entity.name.default.hex}}"
      }
    },
    {
      "name": "Entity Name Class",
      "scope": ["entity.name.class"],
      "settings": {
        "foreground": "#{{syntax.entity.name.default.hex}}"
      }
    },
    {
      "name": "Entity Name Type",
      "scope": ["entity.name.type"],
      "settings": {
        "foreground": "#{{syntax.entity.name.type.default.hex}}"
      }
    },
    {
      "name": "Entity Name Type Class",
      "scope": ["entity.name.type.class"],
      "settings": {
        "foreground": "#{{syntax.entity.name.type.class.hex}}"
      }
    },
    {
      "name": "Entity Name Type Enum",
      "scope":"entity.name.type.enum",
      "settings": {
        "foreground": "#{{syntax.entity.name.type.enum.hex}}"
      }
    },
    {
      "name": "Entity Name Type Struct",
      "scope":"entity.name.type.struct",
      "settings": {
        "foreground": "#{{syntax.entity.name.type.struct.hex}}"
      }
    },
    {
      "name": "Entity Name Function",
      "scope": ["entity.name.function"],
      "settings": {
        "foreground": "#{{syntax.entity.name.function.default.hex}}"
      }
    },
    {
      "name": "Entity Name Function Constructor",
      "scope": ["entity.name.function.constructor"],
      "settings": {
        "foreground": "#{{syntax.entity.name.function.constructor.hex}}"
      }
    },
    {
      "name": "Entity Name Label",
      "scope": ["entity.name.label"],
      "settings": {
        "foreground": "#{{syntax.entity.name.label.hex}}"
      }
    },
    {
      "name": "Entity Name Tag",
      "scope": ["entity.name.tag"],
      "settings": {
        "foreground": "#{{syntax.entity.name.tag.hex}}"
      }
    },
    {
      "name": "Entity Name Type",
      "scope": ["entity.name.type"],
      "settings": {
        "foreground": "#{{syntax.entity.name.type.default.hex}}"
      }
    },
    {
      "name": "Entity Name Namespace",
      "scope": ["entity.name.namespace", "entity.name.module"],
      "settings": {
        "foreground": "#{{syntax.entity.name.namespace.hex}}"
      }
    },
    {
      "name": "Entity Name Section",
      "scope": ["entity.name.section"],
      "settings": {
        "foreground": "#{{syntax.entity.name.section.hex}}"
      }
    },
    {
      "name": "Entity Other",
      "scope": ["entity.other"],
      "settings": {
        "foreground": "#{{syntax.entity.other.default.hex}}"
      }
    },
    {
      "name": "Entity Other Attribute Name",
      "scope": ["entity.other.attribute-name"],
      "settings": {
        "foreground": "#{{syntax.entity.other.attribute-name.hex}}"
      }
    },
    {
      "name": "Entity Other Inherited Class",
      "scope": ["entity.other.inherited-class"],
      "settings": {
        "foreground": "#{{syntax.entity.other.inherited-class.hex}}"
      }
    },
    {
      "name": "Keyword",
      "scope": ["keyword"],
      "settings": {
        "foreground": "#{{syntax.keyword.default.hex}}"
      }
    },
    {
      "name": "Keyword Control",
      "scope": ["keyword.control"],
      "settings": {
        "foreground": "#{{syntax.keyword.control.default.hex}}"
      }
    },
    {
      "name": "Keyword Control Import",
      "scope": ["keyword.control.import", "keyword.control.export", "keyword.control.from"],
      "settings": {
        "foreground": "#{{syntax.keyword.control.import.hex}}"
      }
    },
    {
      "name": "Keyword Control Flow",
      "scope": ["keyword.control.flow", "keyword.control.return", "keyword.control.break", "keyword.control.continue"],
      "settings": {
        "foreground": "#{{syntax.keyword.control.flow.hex}}"
      }
    },
    {
      "name": "Keyword Declaration",
      "scope": ["keyword.declaration", "keyword.other.declaration"],
      "settings": {
        "foreground": "#{{syntax.keyword.declaration.hex}}"
      }
    },
    {
      "name": "Keyword Operator",
      "scope": ["keyword.operator"],
      "settings": {
        "foreground": "#{{syntax.keyword.operator.hex}}"
      }
    },
    {
      "name": "Keyword Other",
      "scope": ["keyword.other"],
      "settings": {
        "foreground": "#{{syntax.keyword.other.hex}}"
      }
    },
    {
      "name": "Storage",
      "scope": ["storage"],
      "settings": {
        "foreground": "#{{syntax.storage.default.hex}}"
      }
    },
    {
      "name": "Storage Type",
      "scope": ["storage.type"],
      "settings": {
        "foreground": "#{{syntax.storage.type.hex}}"
      }
    },
    {
      "name": "Storage Modifier",
      "scope": ["storage.modifier"],
      "settings": {
        "foreground": "#{{syntax.storage.modifier.hex}}"
      }
    },
    {
      "name": "Support",
      "scope": ["support"],
      "settings": {
        "foreground": "#{{syntax.support.default.hex}}"
      }
    },
    {
      "name": "Support Function",
      "scope": ["support.function"],
      "settings": {
        "foreground": "#{{syntax.support.function.default.hex}}"
      }
    },
    {
      "name": "Support Function Builtin",
      "scope": ["support.function.builtin"],
      "settings": {
        "foreground": "#{{syntax.support.function.builtin.hex}}"
      }
    },
    {
      "name": "Support Class",
      "scope": ["support.class"],
      "settings": {
        "foreground": "#{{syntax.support.class.hex}}"
      }
    },
    {
      "name": "Support Type",
      "scope": ["support.type"],
      "settings": {
        "foreground": "#{{syntax.support.type.hex}}"
      }
    },
    {
      "name": "Support Constant",
      "scope": ["support.constant"],
      "settings": {
        "foreground": "#{{syntax.support.constant.hex}}"
      }
    },
    {
      "name": "Support Variable",
      "scope": ["support.variable"],
      "settings": {
        "foreground": "#{{syntax.support.variable.hex}}"
      }
    },
    {
      "name": "Support Other",
      "scope": ["support.other"],
      "settings": {
        "foreground": "#{{syntax.support.other.hex}}"
      }
    },
    {
      "name": "Variable",
      "scope": ["variable"],
      "settings": {
        "foreground": "#{{syntax.variable.default.hex}}"
      }
    },
    {
      "name": "Variable Parameter",
      "scope": ["variable.parameter"],
      "settings": {
        "foreground": "#{{syntax.variable.parameter.hex}}"
      }
    },
    {
      "name": "Variable Language",
      "scope": ["variable.language"],
      "settings": {
        "foreground": "#{{syntax.variable.language.hex}}"
      }
    },
    {
      "name": "Variable Other",
      "scope": ["variable.other"],
      "settings": {
        "foreground": "#{{syntax.variable.other.default.hex}}"
      }
    },
    {
      "name": "Variable Other Constant",
      "scope": ["variable.other.constant"],
      "settings": {
        "foreground": "#{{syntax.variable.other.constant.hex}}"
      }
    },
    {
      "name": "Variable Other Property",
      "scope": ["variable.other.property", "variable.other.member"],
      "settings": {
        "foreground": "#{{syntax.variable.other.property.hex}}"
      }
    },
    {
      "name": "Variable Other Object",
      "scope": ["variable.other.object"],
      "settings": {
        "foreground": "#{{syntax.variable.other.object.hex}}"
      }
    },
    {
      "name": "Punctuation",
      "scope": ["punctuation"],
      "settings": {
        "foreground": "#{{syntax.punctuation.default.hex}}"
      }
    },
    {
      "name": "Punctuation Separator",
      "scope": ["punctuation.separator"],
      "settings": {
        "foreground": "#{{syntax.punctuation.separator.hex}}"
      }
    },
    {
      "name": "Punctuation Definition",
      "scope": ["punctuation.definition"],
      "settings": {
        "foreground": "#{{syntax.punctuation.definition.default.hex}}"
      }
    },
    {
      "name": "Punctuation Definition String",
      "scope": ["punctuation.definition.string"],
      "settings": {
        "foreground": "#{{syntax.punctuation.definition.string.hex}}"
      }
    },
    {
      "name": "Punctuation Definition Comment",
      "scope": ["punctuation.definition.comment"],
      "settings": {
        "foreground": "#{{syntax.punctuation.definition.comment.hex}}"
      }
    },
    {
      "name": "Punctuation Section",
      "scope": ["punctuation.section"],
      "settings": {
        "foreground": "#{{syntax.punctuation.section.hex}}"
      }
    },
    {
      "name": "Punctuation Brackets",
      "scope": ["punctuation.brackets"],
      "settings": {
        "foreground": "#{{syntax.punctuation.brackets.default.hex}}"
      }
    },
    {
      "name": "Punctuation Brackets Round",
      "scope": ["punctuation.brackets.round"],
      "settings": {
        "foreground": "#{{syntax.punctuation.brackets.round.hex}}"
      }
    },
    {
      "name": "Punctuation Brackets Curly",
      "scope": ["punctuation.brackets.curly"],
      "settings": {
        "foreground": "#{{syntax.punctuation.brackets.curly.hex}}"
      }
    },
    {
      "name": "Punctuation Brackets Square",
      "scope": ["punctuation.brackets.square"],
      "settings": {
        "foreground": "#{{syntax.punctuation.brackets.square.hex}}"
      }
    },
    {
      "name": "Punctuation Brackets Angle",
      "scope": ["punctuation.brackets.angle"],
      "settings": {
        "foreground": "#{{syntax.punctuation.brackets.angle.hex}}"
      }
    },
    {
      "name": "Markup",
      "scope": ["markup"],
      "settings": {
        "foreground": "#{{syntax.markup.default.hex}}"
      }
    },
    {
      "name": "Markup Bold",
      "scope": ["markup.bold"],
      "settings": {
        "foreground": "#{{syntax.markup.bold.hex}}",
        "fontStyle": "bold"
      }
    },
    {
      "name": "Markup Italic",
      "scope": ["markup.italic"],
      "settings": {
        "foreground": "#{{syntax.markup.italic.hex}}",
        "fontStyle": "italic"
      }
    },
    {
      "name": "Markup Heading",
      "scope": ["markup.heading", "entity.name.section"],
      "settings": {
        "foreground": "#{{syntax.markup.heading.hex}}"
      }
    },
    {
      "name": "Markup Quote",
      "scope": ["markup.quote"],
      "settings": {
        "foreground": "#{{syntax.markup.quote.hex}}"
      }
    },
    {
      "name": "Markup Underline",
      "scope": ["markup.underline"],
      "settings": {
        "foreground": "#{{syntax.markup.underline.hex}}",
        "fontStyle": "underline"
      }
    },
    {
      "name": "Markup List",
      "scope": ["markup.list", "punctuation.definition.list"],
      "settings": {
        "foreground": "#{{syntax.markup.list.default.hex}}"
      }
    },
    {
      "name": "Markup List Numbered",
      "scope": ["markup.list.numbered"],
      "settings": {
        "foreground": "#{{syntax.markup.list.numbered.hex}}"
      }
    },
    {
      "name": "Markup List Unnumbered",
      "scope": ["markup.list.unnumbered"],
      "settings": {
        "foreground": "#{{syntax.markup.list.unnumbered.hex}}"
      }
    },
    {
      "name": "Markup Link",
      "scope": ["markup.underline.link"],
      "settings": {
        "foreground": "#{{syntax.markup.link.hex}}"
      }
    },
    {
      "name": "Markup Raw",
      "scope": ["markup.raw", "markup.inline.raw", "markup.fenced_code"],
      "settings": {
        "foreground": "#{{syntax.markup.raw.hex}}"
      }
    },
    {
      "name": "Markup Inserted",
      "scope": ["markup.inserted", "meta.diff.header.to-file"],
      "settings": {
        "foreground": "#{{syntax.markup.inserted.hex}}"
      }
    },
    {
      "name": "Markup Changed",
      "scope": ["markup.changed"],
      "settings": {
        "foreground": "#{{syntax.markup.changed.hex}}"
      }
    },
    {
      "name": "Markup Deleted",
      "scope": ["markup.deleted", "meta.diff.header.from-file"],
      "settings": {
        "foreground": "#{{syntax.markup.deleted.hex}}"
      }
    },
    {
      "name": "Source",
      "scope": ["source"],
      "settings": {
        "foreground": "#{{syntax.source.hex}}"
      }
    },
    {
      "name": "Text",
      "scope": ["text"],
      "settings": {
        "foreground": "#{{syntax.text.hex}}"
      }
    },
    {
      "name": "Meta",
      "scope": ["meta"],
      "settings": {
        "foreground": "#{{syntax.meta.default.hex}}"
      }
    },
    {
      "name": "Meta Annotation",
      "scope": ["meta.annotation.hex", "meta.attribute"],
      "settings": {
        "foreground": "#{{syntax.meta.annotation.hex}}"
      }
    },
    {
      "name": "Meta Function",
      "scope": ["meta.function"],
      "settings": {
        "foreground": "#{{syntax.meta.function.hex}}"
      }
    },
    {
      "name": "Meta Class",
      "scope": ["meta.class"],
      "settings": {
        "foreground": "#{{syntax.meta.class.hex}}"
      }
    },
    {
      "name": "Meta Block",
      "scope": ["meta.block"],
      "settings": {
        "foreground": "#{{syntax.meta.block.hex}}"
      }
    },
    {
      "name": "Meta Tag",
      "scope": ["meta.tag"],
      "settings": {
        "foreground": "#{{syntax.meta.tag.hex}}"
      }
    },
    {
      "name": "Meta Type",
      "scope": ["meta.type"],
      "settings": {
        "foreground": "#{{syntax.meta.type.hex}}"
      }
    },
    {
      "name": "Meta Import",
      "scope": ["meta.import"],
      "settings": {
        "foreground": "#{{syntax.meta.import.hex}}"
      }
    },
    {
      "name": "Meta Preprocessor",
      "scope": ["meta.preprocessor"],
      "settings": {
        "foreground": "#{{syntax.meta.preprocessor.hex}}"
      }
    },
    {
      "name": "Meta Object",
      "scope": ["meta.object.member", "meta.object-literal.key"],
      "settings": {
        "foreground": "#{{syntax.meta.object.hex}}"
      }
    },
    {
      "name": "Meta Embedded",
      "scope": ["meta.embedded"],
      "settings": {
        "foreground": "#{{syntax.meta.embedded.hex}}"
      }
    }
  ]
}
