name: Update with latest themes and publish to marketplace
on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * 0" # https://crontab.guru/every-week

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - name: Fetch the repository code
        uses: actions/checkout@9a9194f87191a7e9055e3e9b95b8cfb13023bb08 # v4.1.7
        with:
          token: ${{ secrets.BOT_ACCESS_TOKEN }}
      - name: Update schemes
        uses: tinted-theming/tinted-builder-rust@latest

      - name: Setup Node
        uses: actions/setup-node@26961cf329f22f6837d5f54c3efd76b480300ace # v4.0.0
        with:
          node-version: 20
          cache: yarn

      - name: Install dependencies
        run: |
          yarn install

      - name: Lint
        run: |
          yarn lint

      - name: Update package.json themes
        run: |
          yarn update:packagejson:themes

      - name: Version bump
        run: |
          yarn update:packagejson:version

      - name: Commit the changes, if any
        id: auto-commit-action
        uses: stefanzweifel/git-auto-commit-action@be823a7e51f116fecebc222b8307716921375992 # v5.0.1
        with:
          commit_message: Update with the latest colorschemes
          branch: ${{ github.head_ref }}
          commit_user_name: tinted-theming-bot
          commit_user_email: tintedtheming@proton.me
          commit_author: tinted-theming-bot <tintedtheming@proton.me>

      - name: Publish to VSCode Marketplace
        uses: lannonbr/vsce-action@510e61c5e9e6f33c0418ec5ff5fd36b1ced61e85 # v4.0.0
        if: steps.auto-commit-action.outputs.changes_detected == 'true'
        with:
          args: "publish -p $VSCE_TOKEN"
        env:
          VSCE_TOKEN: ${{ secrets.VSCE_TOKEN }}
